{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <title>Weather-data</title>
</head>
<body>
    <div class="section-container" style="background-image: url('{% static 'img/weather.jpg' %}');"></div>

    <div class="data-container">
        <div class="form-container">
            <form class="form-data" method="post" action>
                {% csrf_token %}
                <input type="text" required name="city" class="form-control" placeholder="City Name">
                <input type="number" required name="number_of_days" class="form-control" placeholder="Number of Days">
                <button type="submit" class="btn-primary">Submit</button>
            </form>

            {% if messages %}
                {% for message in messages %}
                <div class="alert-message {{ message.tags }}" >
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if maximum %}
        <div class="weather-response">
            <div class="each-weather">

                <div class="details-block">
                    <h4>Maximum</h4>
                    {% for item in maximum %}
                        <div> {{ item }} </div>
                    {% endfor %}
                </div>

                <div class="details-block">
                    <h4>Minimum</h4>
                    {% for item in minimum %}
                        <div> {{ item }} </div>
                    {% endfor %}
                </div>

                <div class="details-block">
                    <h4>Average</h4>
                    {% for item in average %}
                        <div> {{ item }} </div>
                    {% endfor %}
                </div>

                <div class="details-block">
                    <h4>Median</h4>
                    {% for item in median %}
                        <div> {{ item|floatformat:"1" }} </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>