@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjNPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao4CP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Raleway', sans-serif;
}
.section-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: color;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transform: scale(1.2);
  overflow: hidden;
}
.data-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}
.data-container .form-container {
  width: 550px;
  height: 130px;
  background-color: rgba(255, 255, 255, 0.842);
  margin: 150px auto 50px;
  position: relative;
  display: flex;
  padding: 40px;
  box-sizing: border-box;
}
.data-container .form-container input {
  width: 170px;
  border: none;
  border-bottom: solid 1px #000;
  color: #000;
  margin-right: 15px;
  padding-bottom: 5px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  outline: none;
  background: transparent;
}
.data-container .form-container button {
  width: 90px;
  height: 40px;
  border: none;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  outline: none;
  background-color: #1179b6;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.data-container .form-container button:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #117ab698;
}
.data-container .weather-response {
  background-color: rgba(255, 255, 255, 0.801);
  width: 760px;
  padding: 20px;
  box-sizing: border-box;
  margin: 70px auto 0px;
}
.data-container .weather-response .each-weather {
  display: flex;
  justify-content: space-between;
}
.data-container .weather-response .each-weather .details-block {
  margin-right: 30px;
}
.data-container .weather-response .each-weather .details-block h4 {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}
.alert-message {
  position: absolute;
  color: #b60c0c;
  font-size: 15px;
  bottom: 10px;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
}
